@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=cyrillic,latin);
/* Mixins and Variables */
/*fonts*/
@fonts: 'Open Sans', sans-serif;
/*colors*/
@color-black: #000;
@color-white: #fff;
@color-dark: #3a3a3a;

/* Mixins */
.mb (@i) when (@i > 0) {
	.mb-@{i} {
		margin-bottom: @i;
	}
	.mb(@i - 5);
}

.set_fonts(@weight, @size) {
	font-family: @fonts;
	font-weight: @weight;
	font-size: @size;
}

.set_bg(@img-name, @type, @position, @repeat) {
	background-image: url('../images/@{img-name}.@{type}');
	background-position: @position;
	background-repeat: @repeat;
}

.b-size(@bsize) {
	background-size: @bsize;
}

.relative {
	position: relative;
}

.fz-40px {
	font-size: 40px;
}

/*CSS*/
body {
	overflow-x: hidden;
	background: #fc462d;
}

a {
	&:hover, &:focus {
		text-decoration: none;
		outline: none;
	}
}

.btn {
	&:focus, &:hover {
		outline: none;
	}
}

.mb25px {
	margin-bottom: 25px;
}

;
.mb(70px);
.top-container {
	width: 100%;
	.relative;
	.set_bg(top-bg, png, top center, no-repeat);
	.b-size(cover);
	padding-top: 40px;
	padding-bottom: 30px;

	.top-block .container {
		position: relative;
	}
}

h1, .h1 {
	.set_fonts(300, 90px);
	color: #fc462d;
	text-transform: uppercase;
}

h2, .h2, .h2 a, h2 a {
	.set_fonts(400, 48px);
	margin: 0;
	margin-bottom: 25px;
}

h3 {
	font-size: 40px;
	margin-bottom: 40px;
}

.text-overlay {
	background: rgba(255, 255, 255, .75);
	padding: 20px 10px 20px 20px;
}

.text-overlay-dark {
	background: rgba(0, 0, 0, .75);
	padding: 20px 10px 20px 20px;
}

#header {
	width: 100%;
	.relative;
	padding: 0 35px 60px;
}

.logo {
	display: inline-block;
	img {
		width: 100%;
	}
}

.search, .menu-header {
	display: inline-block !important;
	margin-left: 30px;
}

.menu-header {
	img {
		vertical-align: top;
	}
}

.search {
	margin-top: 2px;
	i {
		font-size: 20px;
		color: #231f20;

	}
}

.yellow-car {
	margin-top: -90px;
}

.top-subtitle {
	.set_fonts(300, 25px);
	color: #999999;
}

.header-nav {
	.relative;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #e3e3e3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e3e3e3));
	background: -webkit-linear-gradient(top, #ffffff 0%, #e3e3e3 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #e3e3e3 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #e3e3e3 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #e3e3e3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e3e3e3', GradientType=0);
	border-top: 1px solid #d7d7d7;
	width: 100%;
	z-index: 5;
	max-height: 61px;
}

.navbar-default {
	border: 0;
	background: none;
	margin: 0;
}

.navbar-default .navbar-nav > .active > a:focus {
	background: #fc622d;
	background: -moz-linear-gradient(top, #fc622d 0%, #fc462d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc622d), color-stop(100%, #fc462d));
	background: -webkit-linear-gradient(top, #fc622d 0%, #fc462d 100%);
	background: -o-linear-gradient(top, #fc622d 0%, #fc462d 100%);
	background: -ms-linear-gradient(top, #fc622d 0%, #fc462d 100%);
	background: linear-gradient(to bottom, #fc622d 0%, #fc462d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc622d', endColorstr='#fc462d', GradientType=0);
	color: #fc622d !important;
}

.navbar-default .navbar-nav > .active > a:hover {
	color: #fff !important;
}

#bs-example-navbar-collapse-1 {
	text-align: center;
}

.navbar-nav {
	float: initial !important;
	display: inline-block;
	li {
		text-align: center;
		&:first-child {
			a {
				background-image: url(../images/maptag.png);
				background-position: 24% 12px;
				background-repeat: no-repeat;
				&:hover {
					background-position: 18% 12px !important;
					padding: 20px 0;
				}
			}

		}
		&:last-child {
			a {
				background-image: url(../images/offers.png);
				background-position: 24% 12px;
				background-repeat: no-repeat;
				&:hover {
					background-position: 21% 12px !important;
					padding: 20px 0;
				}
			}

		}
		&.active {
			a {
				background: transparent !important;
				color: #fc462d !important;
			}
			&:hover, &:focus, {
				color: #FC462D;
				/*background: #fc622d;
				background: -moz-linear-gradient(top,  #fc622d 0%, #fc462d 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc622d), color-stop(100%,#fc462d));
				background: -webkit-linear-gradient(top,  #fc622d 0%,#fc462d 100%);
				background: -o-linear-gradient(top,  #fc622d 0%,#fc462d 100%);
				background: -ms-linear-gradient(top,  #fc622d 0%,#fc462d 100%);
				background: linear-gradient(to bottom,  #fc622d 0%,#fc462d 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc622d', endColorstr='#fc462d',GradientType=0 );*/

			}
		}
		a {
			border-left: 1px solid #dadada;
			border-right: 1px solid #dadada;
			.set_fonts(400, 20px);
			color: #323131;
			background-image: url(../images/phone-red.png);
			background-repeat: no-repeat;
			background-position: 23% 12px;
			-webkit-transition: all .2s;
			-moz-transition: all .2s;
			-ms-transition: all .2s;
			-o-transition: all .2s;
			transition: all .2s;
			&:hover, &:focus {
				background-color: white !important;
				/*background: #fc622d;
				background: -moz-linear-gradient(top,  #fc622d 0%, #fc462d 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc622d), color-stop(100%,#fc462d));
				background: -webkit-linear-gradient(top,  #fc622d 0%,#fc462d 100%);
				background: -o-linear-gradient(top,  #fc622d 0%,#fc462d 100%);
				background: -ms-linear-gradient(top,  #fc622d 0%,#fc462d 100%);
				background: linear-gradient(to bottom,  #fc622d 0%,#fc462d 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc622d', endColorstr='#fc462d',GradientType=0 );*/
				color: #FC462D !important;
				background-position: 17% 12px;
				font-size: 26px;
				padding: 19px 0;
				-webkit-transition: all .2s;
				-moz-transition: all .2s;
				-ms-transition: all .2s;
				-o-transition: all .2s;
				transition: all .2s

			}
		}
	}
}

#content {
	width: 100%;
	position: relative;
	background: #fff;
}

.content ul {
	color: #3a3a3a;
	font-family: "Open Sans", sans-serif;
	font-size: 25px;
	font-weight: 300;
	line-height: 1.8em;
	margin-top: 20px;
}

.top-title-container {
	width: 100%;
	.relative;
	.set_bg(road, jpg, top center, no-repeat);
	.b-size(cover);
	padding: 40px 0;
}

.top-title {
	.set_fonts(300, 48px);
	color: #fff;
	text-transform: uppercase;
}

#first-container {
	padding-bottom: 0;
}

#second-container {
	padding-top: 30px;
}

.body-paint-container {
	position: relative;
	width: 100%;
	padding: 30px 0;
	background: #fff;
}

.sb-container {
	.set_fonts(300, 25px);
}

.bp-block {
	// height: 337px;
	vertical-align: middle;
	display: table-cell;
}

.dark, .dark a {
	color: @color-dark;
}

.light {
	color: #fff;
}

.electric-works-container {
	background: #2c2c2c;
	position: relative;
}

.ew-block {
	vertical-align: middle;
	display: table-cell;
	height: 530px;
}

.mech-works {
	.relative;
	width: 100%;
	text-align: center;
	padding-bottom: 70px;
}

.mw-image {
	position: relative;
	height: 326px;
	.set_bg(motor, jpg, top center, no-repeat);
}

.chasis {
	.relative;
	width: 100%;
	padding-top: 90px;
	.set_bg(chasis, jpg, top center, no-repeat);
	min-height: 588px;
	.btn-read {
		background: #fff;

	}
}

.electric-works-container, .diagnostic-services {
	.btn-read {
		background: #fff;

	}
}

.tyre {
	.btn-read {
		margin-bottom: 20px !important;
	}
}

.car-interior {
	.relative;
	width: 100%;
	padding-top: 90px;
	.set_bg(cleaning, jpg, top center, no-repeat);
	min-height: 644px;
}

.diagnostic-services {
	.relative;
	width: 100%;
	padding-top: 175px;
	.set_bg(jeep, jpg, top center, no-repeat);
	min-height: 587px;
}

.tyre {
	.relative;
	width: 100%;
	padding-top: 100px;
	text-align: center;
}

.shina {
	position: relative;
	.set_bg(shina, jpg, top center, no-repeat);
	min-height: 323px;
	bottom: 0;
}

.general-ms {
	.relative;
	.set_bg(direct, jpg, top center, no-repeat);
	width: 100%;
	padding-top: 169px;
	min-height: 588px;
	padding-bottom: 20px;
}

.btb(@width:1px, @type:solid, @color:#e8e8e8) {
	border-top: @arguments;
	border-bottom: @arguments;
}

.get-the-latest {
	.relative;
	width: 100%;
	background: #f7f8f9;
	.btb();
	padding: 30px 0;
	text-align: center;
}

.get-title {
	.set_fonts(600, 15px);
	color: #1a1a1a;
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	line-height: 40px;
}

.get-input {
	input {
		border: 1px solid #e8e8e8;
		border-radius: 0;
		.set_fonts(600, 15px);
		color: #1a1a1a;
		height: 40px;
	}
}

.btn-read {
	.set_fonts(700, 15px);
	color: #fc462d;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #fc462d;
	border-radius: 0;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	&:hover, &:focus {
		color: #fff;
		background: #fc462d;
	}
}

.btn-white {
	.set_fonts(700, 15px);
	color: #000;
	text-transform: uppercase;
	width: 100%;
	background: #fff;
	border: 2px solid #000;
	border-radius: 0;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	&:hover, &:focus {
		color: #fff;
		background: #000;
	}
}

#footer {
	width: 100%;
	.relative;
	background: #fff;
	padding-top: 60px;
	min-height: 437px;
}

.social-links {
	a {
		display: inline-block;
		width: 25px;
		height: 25px;
		margin-right: 15px;
		&:hover {
			opacity: 0.7;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

.facebook {
	.set_bg(face, png, 0 0, no-repeat);
}

.twiter {
	.set_bg(twit, png, 0 0, no-repeat);
}

.instagram {
	.set_bg(inst, png, 0 0, no-repeat);
}

.youtube {
	.set_bg(you, png, 0 0, no-repeat);
}

.google-plus {
	.set_bg(google-plus, png, 0 0, no-repeat);
	height: 25px;
	width: 25px;
}

.copyright {
	color: #c9c8c8;
	.set_fonts(600, 12px)
}

.call-us.cr {
	a {
		background-image: url(../images/phone-red.png);
		background-position: 0 7px;
		background-repeat: no-repeat;
		padding-left: 50px;
	}
}

.call-us a {
	cursor: pointer;
	color: #fc462d;
	.set_fonts(700, 34px);
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 20px;
	&:hover {
		text-decoration: none;
		color: #fa1f01;
	}
}

.mail-us a {
	font-size: 12px !important;
	text-transform: none !important;
}

.fn-title {
	.set_fonts(700, 13px);
	text-transform: uppercase;
	color: #2c2c2c;
	padding-bottom: 20px;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 2px;
		width: 41px;
		border-bottom: 2px solid #dcdcdc;
	}
}

.footer-nav {
	ul {
		padding-left: 0;
		list-style: none;
		li {
			list-style: none;
			margin-bottom: 15px;
			a {
				.set_fonts(600, 13px);
				color: #2c2c2c;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

/*search*/
.header-search {
	position: absolute;
	top: -40px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	background: #fff;
}

.header-search {
	form {
		width: 100%;
	}
}

.header-search {
	form {
		.form-control {
			font-family: 'Open Sans', sans-serif;
			padding: 27px 85px 0 35px;
			border: 0;
			box-shadow: none !important;
			font-size: 32px;
			line-height: 42px;
			height: 100%;
			width: 95%;
			display: inline-block;
			max-width: 100%;
			background: #fff;
			color: #000;
		}
	}

}

.header-search.visible {
	opacity: 1;
	z-index: 2;
}

.search-control {
	position: relative;
	color: #231f20;
	font-size: 22px;
	line-height: 23px;
	z-index: 2;
	padding-top: 2px;
}

.search-control:hover, .search-control:focus {
	color: #231f20;
}

.s-icon {
	font-size: 25px;
	line-height: 25px;
	columns: #231f20;
	padding-top: 37px;
	display: inline-block;
	float: left;
}

.to-top-button {
	position: absolute;
	bottom: 0;
	left: 50%;
	.set_fonts(400, 11px);
	color: #2c2c2c;
	text-transform: uppercase;
	background: #f3f3f3;
	width: 239px;
	text-align: center;
	padding: 15px 0;
	margin-left: -154px;
	&:before {
		content: '';
		position: absolute;
		bottom: 50%;
		margin-bottom: -3px;
		left: 40px;
		width: 8px;
		height: 4px;
		.set_bg(a-up, png, 0 0, no-repeat);
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 50%;
		margin-bottom: -3px;
		right: 40px;
		width: 8px;
		height: 4px;
		.set_bg(a-up, png, 0 0, no-repeat);
	}
	&:hover {
		text-decoration: none;
		color: #2c2c2c;
	}
}

.rs-link {
	.set_fonts(300, 25px);
	display: block;
	color: #fff;

	&:hover {
		color: #fff;

	}
}

.leo {
	font-size: 20px;
	padding: 30px 0;
	background: url(../images/phone-white.png) 0 26px no-repeat;
	padding-left: 49px;
	&:hover {
		padding-left: 59px;
		background-position: 10px 26px;
	}
}

.menu_contain {
	padding: 40px 70px 30px;
	position: fixed;
	width: 400px;
}

.sidebar-contain {
	.relative;
}

.rs-list {
	ul {
		padding-left: 0;
		margin: 0;
		li {
			list-style: none;
			margin-bottom: 15px;
			a {
				.set_fonts(300, 18px);
				color: #fff;
				&:hover {
					padding-left: 10px;
				}

			}
		}
	}
}

.rs-social {
	a {
		width: 48px;
		height: 48px;
		display: inline-block;
		margin-right: 14px;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			opacity: 0.8;
		}
	}
}

.rs-f {
	.set_bg(fw, png, 0 0, no-repeat);
}

.rs-g {
	.set_bg(googleplus, png, 0 0, no-repeat);
}

.rs-t {
	.set_bg(tw, png, 0 0, no-repeat);
}

.rs-i {
	.set_bg(iw, png, 0 0, no-repeat);
}

.rs-y {
	.set_bg(ty, png, 0 0, no-repeat);
}

.tcon {
	appearance: none;
	border: none;
	cursor: pointer;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 19px;
	transition: 0.3s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 30px;
	background: transparent;
	outline: none;
}

.tcon > * {
	display: block;
	vertical-align: top;
	margin-top: 7px;
}

.tcon:hover, .tcon:focus {
	outline: none;
}

.tcon::-moz-focus-inner {
	border: 0;
}

.tcon-menu__lines {
	display: inline-block;
	height: 2px;
	width: 30px;
	border-radius: 2.85714px;
	transition: 0.3s;
	background: black;
	position: relative;
}

.tcon-menu__lines::before, .tcon-menu__lines::after {
	display: inline-block;
	height: 2px;
	width: 30px;
	border-radius: 2.85714px;
	transition: 0.3s;
	background: black;
	content: '';
	position: absolute;
	left: 0;
	-webkit-transform-origin: 2.85714px center;
	transform-origin: 2.85714px center;
	width: 100%;
}

.tcon-menu__lines::before {
	top: 10px;
}

.tcon-menu__lines::after {
	top: -10px;
}

.tcon-transform .tcon-menu__lines {
	-webkit-transform: scale3d(.8, .8, .8);
	transform: scale3d(.8, .8, .8);
}

.tcon-menu--xbutterfly {
	width: auto;
}

.tcon-menu--xbutterfly .tcon-menu__lines::before, .tcon-menu--xbutterfly .tcon-menu__lines::after {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	transition: top .3s .6s ease, -webkit-transform .3s ease;
	transition: top .3s .6s ease, transform .3s ease;
}

.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines {
	background: transparent;
}

.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before, .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
	top: 0;
	transition: top .3s ease, -webkit-transform .3s .5s ease;
	transition: top .3s ease, transform .3s .5s ease;
	width: 30px;
}

.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
}

.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
}

.tcon-visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

#wrapper.open-sidebar {
	right: 25%;
	overflow-x: visible;
}

.map img {
	width: 100%
}

#sidebar {
	background: none repeat scroll 0 0 #fc462d;
	box-sizing: border-box;
	height: 100%;
	position: absolute;
	right: 0 !important;
	width: 25% !important;
	-moz-box-sizing: border-box;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 0;
}

#wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	right: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.main {
	overflow-x: hidden;
}

.open-sidebar {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	.search-control {
		visibility: hidden;
		opacity: 0;
	}
	#sidebar {
		right: -25% !important;
		width: 25% !important;
		opacity: 1;
	}
}

/*FAQ PAGE*/
.pt-100 {
	padding-top: 30px;
}

.faq-page, .privacy-page, .news-page {
	.relative;
	width: 100%;
}

.page-title {
	.set_fonts(300, 40px);
	color: #1c1c1c;
}

p {
	.set_fonts(400, 25px);
	color: #999999;
	margin-bottom: 25px;
}

.faq-title {
	.set_fonts(600, 25px);
	color: #424242;
}

.not-index #content {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #f7f7f7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(100%, #f7f7f7));
	background: -webkit-linear-gradient(top, #ffffff 1%, #f7f7f7 100%);
	background: -o-linear-gradient(top, #ffffff 1%, #f7f7f7 100%);
	background: -ms-linear-gradient(top, #ffffff 1%, #f7f7f7 100%);
	background: linear-gradient(to bottom, #ffffff 1%, #f7f7f7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0);
}

.news-city, .news-date {
	display: inline-block;
	.set_fonts(700, 25px);
	color: #000;
	text-transform: uppercase;
}

.news-city {
	margin-right: 20px;
}

.news-date {
	.relative;
	&:before {
		content: '';
		position: absolute;
		top: 6px;
		left: -12px;
		height: 24px;
		width: 2px;
		border-right: 2px solid #707070;
	}
}

.news-block {
	.btn-white {
		display: inline-block;
		width: auto;
		padding-left: 25px;
		padding-right: 25px;
	}
}

.xs-header {
	background: none;
	border: 0;
	text-align: left !important;
}

.hphone-xs {
	background: #cecece;
	a {
		color: #fff !important;
		padding: 15px 20px !important;
		span {
			display: inline-block;
			float: right;
			margin-top: -1px;
		}
	}
}

.xs-header {

	ul {
		margin: 0 !important;
		li {
			text-align: left;
			background: #cecece;
			border-bottom: 1px solid #fff;
			&.active {
				a {
					color: #fff !important;
				}
			}
			a {
				color: #fff !important;
				padding: 20px !important;
			}
		}
	}
}

/*Location*/
.location-header {
	.relative;
	.set_bg(loc-header, jpg, top center, no-repeat);
	background-size: cover;
	padding: 50px 0;
}

.lh-title {
	.set_fonts(300, 25px);
	color: #fff;
	text-transform: uppercase;
	text-align: right;
}

.lh-info {
	p {
		.set_fonts(300, 25px);
		color: #fff;
		margin-bottom: 0;
		line-height: 29px;
	}
}

.get-in {
	.relative;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	background: #f7f8f9;
	padding: 20px 0;
}

.gi-title {
	.set_fonts(700, 18px);
	color: #000;
	margin-top: 60px;
}

.scan-call {
	.set_fonts(400, 18px);
	color: #000;
	margin-top: 50px;
	span {
		font-weight: 700;
	}
}

/*CONTACT US*/
.contact-us-block {
	padding-top: 60px;
	padding-bottom: 50px;
}

.contact-us-subtitle {
	.set_fonts(300, 25px);
	color: #999999;
}

.c-mail {
	.set_fonts(300, 25px);
	color: #000;
	a {
		font-weight: 700;
		color: #000;
	}
}

.contact-form {
	label {
		.set_fonts(600, 25px);
		color: #000;
		margin-bottom: 0;
	}
	.form-control {
		border-radius: 0;
		height: 40px;
	}
	textarea {
		resize: none;
		height: 227px !important;
	}
	.btn {
		display: inline-block;
		width: auto;
		padding-left: 30px;
		padding-right: 30px;
		margin-top: 30px;
	}
}

/*ABOUT US*/
.our-image {
	img {
		width: 100%;
	}
}

.we-photo {
	img {
		width: 100%;
	}
}

.lb-photo {
	img {
		width: 100%;
	}
}

.lb-name {
	.set_fonts(700, 25px);
	color: #000;
}

.lb-job {
	.set_fonts(400, 17px);
	color: #000;
}

.team-block {
	width: 100%;
	background: #f9f9f9;
	padding: 50px 0 0;
	.relative;
}

.silver-bg {
	background-color: #f5f5f5;
}

.flipto-prev, .flipto-next {
	display: none !important;
}

.breadcrumb {
	margin-bottom: 0 !important;
}

/*NEWS SINGLE*/
.news-image {
	background: #e8e8e8;
	text-align: center;
	margin-bottom: 20px;
}

.news-image img {
	margin: 0 auto;
	max-height: 500px;
}

.xs-header ul li a span {
	display: inline-block;
	float: right;
	margin-top: -6px;
}

.xs-header ul li:last-child a span {
	margin-right: 5px;
}

.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
	height: 24px !important;
}

.stButton .stHBubble {
	height: 23px !important;
}

.news-main-page {
	#header {
		padding: 0 35px 40px;
		position: relative;
		width: 100%;
	}
	.top-container {
		padding-bottom: 0 !important;
	}
	.top-block {
		display: none !important;
	}
}

@media (min-width: 1440px) {
	.leo {
		font-size: 30px;
		padding: 30px 0;
		background: url('/css/../images/phone-white.png') 0 34px no-repeat;
		padding-left: 49px;
		&:hover, &:focus {
			background-position: 10px 34px;
		}
	}
}

#owl-news {
	.owl-buttons {
		display: none;
	}
}

#owl-thumbs {
	margin-top: 15px;
	.owl-item.synced > div {
		&:before {
			display: none;
		}
	}
	.owl-item {
		cursor: pointer;
	}
	.owl-item > div {
		margin: 0 15px;
		.relative;
		z-index: 0;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 1;
			height: 100%;
			background: rgba(252, 70, 45, 0.5)
		}
	}
}

.news-image img {
	max-height: 500px;
}

.summary {
	margin-bottom: 40px;
}

.news-single-page {
	.news-block {
		background: none !important;
		border: 0 !important;
		padding: 0;
	}
}

.news-block {
	background-color: #fafafa;
	border: 1px solid #ccc;
	padding: 20px;

}

.hr-2 {
	text-align: right;
}

.header-language-block {
	display: inline-block;
	vertical-align: top;
	margin-top: -1px;
	float: left;
	a {
		.set_fonts(400, 14px);
		color: #000;
		background: #fff;
		border: 5px solid #555;
		border-radius: 30px;
		display: inline-block;
		padding-bottom: 10px;
		padding-top: 9px;
		text-align: center;
		width: 50px;
		height: auto;
		&:hover, &:focus {
			text-decoration: none;
			color: #fc462d;
		}
		display: inline-block;
		&:first-child {
			margin-right: 10px;
		}
	}
}

.header-right-block {
	display: inline-block;
	float: right;
	vertical-align: top;
	margin-top: -32px;

}

.rus-leos {
	.navbar-nav li a {
		font-size: 19px;
	}
	.navbar-nav li a:hover, .navbar-nav li a:focus {
		font-size: 22px;
	}
}

.bpcs-top-list {
	img {
		width: 100%;
		margin-bottom: 20px;
	}
}

.bpcs-bottom {
	img {
		width: 100%;
		margin-bottom: 20px;
	}
}

.body-paint-container-single {
	padding-top: 50px;
}

.percent20 {
	width: 20%;
}

.leos-ru {
	.navbar-nav li:last-child a {
		background-position: 11% 12px;
	}
	.navbar-nav li:last-child a:hover {
		font-size: 23px;
		background-position: 7% 12px !important;
	}
}

@media (max-width: 767px) {
	.leos-ru {
		.navbar-nav li:last-child a:hover {
			font-size: 14px;
		}
	}

	.percent20 {
		width: 100%;
	}

	.header-right-block {
		margin-top: 9px !important;
		height: 33px;
		width: 25px;
	}

	.menu-header {
		margin-left: 11px;
	}

	.header-language-block a:first-child {
		margin-right: 3px;
	}

	.header-language-block a {
		background-color: #fafafa;
		border: 2px solid #555;
		font-size: 11px;
		margin-right: 5px;
		margin-top: 1px;
		padding-bottom: 7px;
		padding-top: 6px;
		width: 33px;
	}

	.xs-header ul li {
		float: left;
		width: 50%;
		background: #b5b5b5 none repeat scroll 0 0;
		border-bottom: 1px solid #fff;
		text-align: left;
		&:last-child {
			border-left: 1px solid #fff;
		}
		a {
			font-size: 14px;
		}
		&:first-child {
			float: none;
			width: 100%;
			a {
				font-size: 20px;

			}
		}
	}

	.body-paint-container {
		.btn-read {
			margin-bottom: 10px;
			width: 155px;
		}
	}

	.nav.navbar-nav {
		border-bottom: 1px solid #ccc;
	}

	.car-interior {
		.relative;
		width: 100%;
		padding-top: 50px;
		.set_bg(cleaning, jpg, top center, no-repeat);
		min-height: 353px;
		background-size: cover;
		.btn-read {
			width: 206px;
			background: #fff;
			margin-bottom: 10px;
		}
	}

	.flipto-prev, .flipto-next {
		display: block !important;
		color: #000;
		position: absolute;
		top: 0;
		left: 15px;
		width: 15px;
		height: 15px;
	}

	.flipto-next {
		left: 45px;
		content: '\f054';
	}

	.flipster-coverflow .flip-item {
		width: 100% !important;
	}

	.team-block {
		padding-top: 40px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.team-block .page-title {
		margin-bottom: 20px !important;
	}

	.c-mail {
		font-size: 15px;
	}

	.contact-us .get-in {
		display: block;
	}

	.contact-us-subtitle {
		font-size: 15px;
	}

	.contact-form {
		label {
			font-size: 15px;
			margin-bottom: 5px;
		}
	}

	.news-meta {
		margin-bottom: 20px !important;
	}

	.news-date {
		&:before {
			height: 15px;
			top: 3px;
		}
	}

	.navbar-nav {
		width: 100% !important;
		li {
			a {
				border: 0;
			}
		}
	}

	.news-city, .news-date {
		font-size: 15px;
	}

	.page-title {
		font-size: 24px;
	}

	.faq-title, p {
		font-size: 15px;
	}

	#header {
		background: #fff;
		padding: 15px 15px;
	}

	.top-container {
		padding-bottom: 15px;
		padding-top: 0;
	}

	.header-search {
		padding-top: 15px;
		top: 0;
	}

	.header-search form .form-control {
		padding: 0;
		width: 75%;
		font-size: 17px;
		line-height: 25px;
	}

	.s-icon {
		padding-top: 0;
		font-size: 19px;
		margin-right: 15px;
	}

	.sclicked {
		position: absolute;
		right: 0;
	}

	h1, .h1 {
		font-size: 36px;
	}

	.yellow-car {
		img {
			margin: 0 auto;
			width: 75%;
		}
		margin-bottom: 10px;
		margin-top: -34px;
	}

	.top-subtitle {
		font-size: 14px;
		margin-bottom: 0 !important;
		position: relative;
		top: 5px;

	}

	.top-title {
		font-size: 23px;
	}

	.bp-block, .ew-block {
		text-align: center;
		margin-bottom: 20px;
		display: block;
		height: auto;
	}

	.electric-works-container {
		.set_bg(electric, png, top center, no-repeat);
		.b-size(100%);
		padding-top: 57%;
		padding-bottom: 50px;
	}

	h2, .h2 {
		font-size: 24px;
		margin-bottom: 15px;
	}

	.sb-container {
		font-size: 15px;
		margin-bottom: 10px;
	}

	.mw-image {
		display: none;
	}

	.mech-works {
		.set_bg(motor, jpg, top center, no-repeat);
		.b-size(100%);
		padding-top: 57%;
	}

	.chasis {
		.set_bg(chassis, png, top center, no-repeat);
		padding-top: 52%;
		text-align: center;
		min-height: 401px;
		.b-size(100%);
		padding-bottom: 50px;
	}

	.header-search, .header-search.visble {
		transition: none !important;
	}

	.diagnostic-services {
		text-align: center;
		.set_bg(car, png, top center, no-repeat);
		background-color: #000;
		padding-top: 20%;
		padding-bottom: 40px;
		min-height: 400px;
		.b-size(100%);
	}

	.shina {
		.set_bg(shina-small, jpg, top center, no-repeat);
		.b-size(contain);
		min-height: 180px;
	}

	.general-ms {
		text-align: center;
		.set_bg(direct-small, jpg, top center, no-repeat);
		background-size: 100%;
		padding-top: 64%;
		padding-bottom: 50px;
		min-height: 100px;
	}

	.get-the-latest {
		text-align: center !important;
	}

	.get-the-latest {
		.text-right {
			text-align: center;
		}
	}

	.get-title {
		margin-bottom: 15px;
	}

	#footer {
		text-align: center;
		padding-bottom: 50px;
	}

	.fn-title:before {
		display: none;
	}

	.call-us {
		margin-bottom: 0;
		a {
			margin-bottom: 0;
		}
	}

	.footer-nav {
		margin-bottom: 30px;
	}

	.fn-title {
		padding: 0;
		margin-bottom: 15px;
	}

	.to-top-button {
		left: 0;
		width: 100%;
		margin-left: 0;
	}

	.bp-image {
		margin-bottom: 10px;
	}
}

@media (max-width: 767px) {
	#mc-embedded-subscribe {
		&.btn-white {
			font-size: 6px !important;
		}
	}

	.leos-ru {
		#xs2 {
			background: url(/images/ew.jpg) 0 0 no-repeat;
			.b-size(cover);
		}
	}

	.leos-ru .xs-header ul li {
		&:nth-child(2) {
			a {
				background: none;
				font-size: 12px;
				span {
					margin-top: -4px;
					margin-right: 0;
					img {
						height: 28px;
					}
				}
			}
		}
		&:last-child {
			a {
				background: none !important;
				font-size: 12px;
				span {
					margin-top: -4px;
					margin-right: 0;
					img {
						height: 28px;
					}
				}
			}
		}
	}

	a#xs1 img {
		top: 20px;
		width: 90%;
	}

	#xs2 h2 {
		color: white;
	}

	#xs3 img {
		width: 95%;
	}

	#xs4 img {
		bottom: 7px;
		width: 100%;
	}

	#xs5 img {
		bottom: 5%;
		height: auto;
		max-width: none;
		right: 0;
		width: 100%;
	}

	#xs6 img {
		right: 0;
		top: 10%;
	}

	#xs7 img {
		left: 0;
		max-width: none;
		position: absolute;
		top: 0;
		transform: rotate(180deg);
		width: 176%;
	}

	#xs8 img {
		bottom: 0;
		max-width: none;
		position: absolute;
		right: -40%;
		width: 230%;
	}

	#xs8 h2 {
		background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
		margin-bottom: 0;
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.xs-header ul li a:hover, .xs-header ul li a:focus {
		font-size: 14px;
	}

	.xs-header ul li:first-child a:hover, .xs-header ul li:first-child a:focus {
		font-size: 20px;
	}

	.top-title-container.text-center {
		padding: 5px 0 10px;
	}

	.nbt {
		border-bottom: 0 !important;
	}

	.nbl {
		border-left: 0 !important;
	}

	.top-cont-one {
		.row {
			margin-right: 0 !important;
			margin-left: 0 !important;
		}
		.col-xs-6, .col-xs-12 {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}

	.xsb-img {
		height: 200px;
		overflow: hidden;
		position: relative;
		img {
			margin: 0 auto;
			.relative;
		}
	}

	.darker {
		background: #000 !important;
		h2, .h2 {
			color: #fff;
		}
	}

	.xs-blocks {
		display: block;
		position: relative;
		text-align: center;
		z-index: 2;
		border: 1px solid silver;
		background: #fff;
		h2, .h2 {
			bottom: 0;
			display: block;
			font-size: 14px;
			position: absolute;
			width: 100%;
			z-index: 100;

		}
	}

	.header-language-block {
		float: none;
	}

	.rus-leos {
		.navbar-nav li a {
			font-size: 15px;
		}
	}

	h1, .h1 {
		margin-right: 15px !important;
		margin-left: 15px !important;
	}

	.news-main-page #header {
		padding: 15px 15px !important;
	}

	.faq-page, .privacy-page, .news-page {
		padding-top: 30px !important;
	}

	.header-nav {
		border-bottom: 1px solid #ccc;
		max-height: none;
	}

	.navbar-nav li a {
		background-image: none !important;
	}

	.btn-white {
		font-size: 11px;
		padding: 0px 5px;
		height: 40px;
		line-height: 36.5px;
	}

	#wrapper.open-sidebar {
		right: 50%;
	}

	.open-sidebar {
		#sidebar {
			width: 50% !important;
			right: -50% !important;
		}
		.menu_contain {
			visibility: visible;
		}
	}

	#sidebar {
		width: 50% !important;
		right: 0 !important;
	}

	.menu_contain {
		padding: 30px 45px;
		width: auto !important;
	}

	.rs-link {
		font-size: 17px;
	}

	.menu_contain {
		padding: 30px 20px;
		position: absolute !important;
		visibility: hidden;
	}

	.leo {
		font-size: 10px;
		padding: 15px 0;
		padding-left: 49px;
		background-position: 0 6px !important;
	}

	.rs-social a {
		margin-right: 5px;
	}

	.lh-title {
		text-align: center;
		margin-bottom: 10px;
	}

	.lh-info p {
		text-align: center;
	}

	.get-in {
		display: none;
	}

	.mobile-hidden {
		display: none;
	}

	.content ul {
		font-size: 17px;
		padding: 0;
		text-align: center;
		list-style-type: none;
	}

	.content .call-us small {
		display: block;
		white-space: nowrap;
	}

	.body-paint-container {
		padding: 20px 0 0 10px;
	}

	#footer {
		padding-top: 10px;
	}

	h3 {
		margin: 0 0 10px 0;
		font-size: 24px;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
	}

	.mb-70px {
		margin-bottom: 20px;
	}
}

@media (max-width: 992px) {
	.leos-ru {
		.navbar-nav li:last-child a {
			background-position: 11% 12px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.navbar-nav li:last-child a:hover {
			background-position: 7% 12px !important;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.header-language-block {
		float: none;
		display: inline-block;
		vertical-align: top;
		margin-top: 3px;
	}

	.header-right-block {
		margin-top: 19px;
	}

	.leo {
		font-size: 19px;
		padding: 30px 0;
		background: url('/css/../images/phone-white.png') 0 26px no-repeat;
		padding-left: 49px;
	}

	.faq-page, .privacy-page, .news-page {
		padding-top: 30px !important;
	}

	.navbar-nav li a:hover, .navbar-nav li a:focus {
		background-position: 3% 12px;
		font-size: 22px !important;
	}

	.navbar-nav li:first-child a:hover {
		background-position: 6% 12px !important;
	}

	.navbar-nav li a {
		padding-left: 40px !important;
		font-size: 18px !important;
	}

	.call-us.cr a {
		font-size: 15px;
		line-height: 54px;
	}

	.header-nav {
		border-bottom: 1px solid #ccc;
	}

	.navbar-nav li:first-child a {
		background-position: 18% 12px;
	}

	.navbar-nav li a {
		background-position: 12% 12px;
	}

	h1, .h1 {
		font-size: 50px;
	}

	.car-interior {
		.relative;
		width: 100%;
		padding-top: 50px;
		.set_bg(cleaning, jpg, top center, no-repeat);
		min-height: 520px;
		background-size: cover;
	}

	.yellow-car {
		margin-top: -56px;
	}

	.bp-block {
		height: 210px;
	}

	.sb-container {
		font-size: 20px;
	}

	.ew-block {
		height: 329px;
	}

	.navbar-nav {
		li {
			a {
				width: 206px;
				padding: 20px 0;
			}
		}
	}

	#wrapper.open-sidebar {
		right: 35%;
	}

	.open-sidebar {
		#sidebar {
			width: 35% !important;
			right: -35% !important;
		}
		.menu_contain {
			visibility: visible;
		}
	}

	#sidebar {
		width: 35% !important;
		right: 0 !important;
	}

	.menu_contain {
		padding: 30px 45px;
		position: absolute !important;
		visibility: hidden;
		width: auto !important;
	}

	.lh-info p {
		font-size: 18px;
		line-height: 22px;
	}

	.lh-title {
		font-size: 20px;
	}

	.gi-title {
		font-size: 15px;
		margin-top: 35px;
	}

	.scan-call {
		font-size: 14px;
		margin-top: 30px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.body-paint-container {
		.btn-read {
			font-size: 14px;
		}
	}

	.header-right-block {
		display: inline-block;
		float: right;
		vertical-align: top;
		margin-top: -27px;
	}

	.header-language-block a:first-child {
		margin-right: 1px;
	}

	.header-language-block a {
		border: 4px solid #555;
		border-radius: 30px;
		padding-bottom: 7px;
		padding-top: 6px;
		text-align: center;
		width: 38px;
		font-size: 12px;
	}

	.call-us.cr a {
		padding: 2px 0px 5px 50px;
		font-size: 26px;
	}

	.leo {
		font-size: 14px;
		background-position: 0 24px;
	}

	.leo:hover {
		background-position: 10px 24px;
	}

	.header-nav {
		border-bottom: 1px solid #ccc;
	}

	.navbar-nav li:first-child a:hover {
		background-position: 14% 12px !important;
	}

	.navbar-nav li a:hover, .navbar-nav li a:focus {
		background-position: 9% 12px;
		font-size: 22px !important;
	}

	.navbar-nav li:first-child a {
		background-position: 19% 12px;
	}

	.navbar-nav li a {
		background-position: 16% 12px;
		font-size: 18px !important;
	}

	.scan-call {
		margin-top: 40px;
	}

	.gi-title {
		margin-top: 50px;
	}

	h2, .h2 {
		font-size: 42px;
	}

	.sb-container {
		font-size: 22px;
	}

	.menu_contain {
		width: auto !important;
		padding: 40px 50px 30px;
	}

	.bp-block {
		height: 277px;
	}

	.ew-block {
		height: 434px;
	}

	.navbar-nav {
		li {
			a {
				width: 291px;
				padding: 20px 0;
			}
		}
	}
}

@media (max-width: 1200px) {
	.text-overlay {
		padding: 10px 10px 10px 20px;
	}

	.text-overlay-dark {
		background: rgba(0, 0, 0, .75);
		padding: 20px 10px 20px 20px;
	}

	.electric-works-container {
		padding: 20px 0;
	}

	.general-ms {
		padding-bottom: 20px;
	}
}

@media (max-width: 1200px) and (min-width: 768px) {
	.leos-ru {
		.navbar-nav li:last-child a {
			background-position: 11% 12px;
			padding-left: 30px;
		}
		.navbar-nav li:last-child a:hover {
			font-size: 23px;
			background-position: 7% 12px !important;
			padding-left: 40px;
		}
	}
}

@media (max-width: 1300px) {
	.menu_contain {
		width: auto !important;
	}

	.rs-social a {
		margin-bottom: 10px;
	}
}

@media (min-width: 1200px) {
	.navbar-nav {
		li {
			a {
				width: 355px;
				padding: 20px 0;
			}
		}
	}
}

@media (min-width: 1575px) {
	.general-ms, .diagnostic-services, .chasis {
		.b-size(cover);
	}

	.diagnostic-services {
		padding-top: 50px;
	}
}

@media (max-width: 1575px) and (min-width: 767px) {
	.diagnostic-services {
		padding-top: 50px;
	}
}

@media (min-width: 1300px) {
	.header-right-block {
		margin-top: 16px;
	}
}

@media (min-width: 1096px) and (max-width: 1197px) {
	.header-right-block {
		margin-top: 9px;
	}
}

@media (max-width: 480px) {
	.btn-white {
		font-size: 8px;
		text-align: center;
	}
}

/*END*/

.contact-phoneNumber {
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	color: #FC462D;
	border: 2px solid;
	text-align: center;
	padding: 15px;
	position: absolute;
	left: 0;
	top: 100px;
	width: 230px;
}

