a, a:hover, a:focus, .open-sidebar, .open-sidebar .search-control, .visible, .sclicked {
	-webkit-transition: all 0.4s;
   	-moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
     -o-transition: all 0.4s;
        transition: all 0.4s;
}
.header-search, .header-search.visible{
-webkit-transition: all 0.2s;
   -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
     -o-transition: all 0.2s;
        transition: all 0.2s;
}
